.App {
  text-align: center;
  --footer-height: 262px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-link {
  color: #61dafb;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  width: 100%;
  min-height: calc(100vh - 56px);
  background-color: #FAFAFA;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
}

.content{
  position: relative;
  display: flex;
  /*flex: 1;*/
  padding-top: var(--navbar-height);
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 56px);
  background-color: #FAFAFA;
  box-sizing: border-box;
  overflow:hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
